@import '../../styles/theme.scss';

.heroSection {
  display: flex;
  flex-direction: column;
  .banner-desktop {
    @include for-tablet-md {
      display: none;
    }
  }
  .banner-mobile {
    display: none;
    @include for-tablet-md {
      display: flex;
    }
  }
  .textHeroSection {
    display: flex;
    flex-direction: column;
    margin: $margin-xxl 0px;
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
        width: auto;
        object-fit: contain;
      }
    }
  }
}

@include for-tablet-only {
  .heroSection {
    .textHeroSection {
      margin: 0;
      padding: $margin-md;
    }
  }
}
