@import '../../styles/theme.scss';

$border-btn: 1px solid #494949;
$width-btn: 18rem;
$radius-contact: 6px;
$color-project-gothika: #5e12b2;

.hamburger {
  background-color: $color-dark-blue;
  max-width: 100%;
  padding: $margin-xs $margin-md;
  .containerHamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logoHamburger {
      margin: 0 auto;
      margin-left: calc(50% - $margin-sm);
    }
  }
}
.containerLinksHidden {
  display: none;
}

.showHamburger {
  background-color: $color-dark;
  max-width: 100%;
  padding: $margin-xs $margin-md;
  .containerHamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logoHamburger {
      margin-left: calc(50% - $margin-sm);
    }
  }
  .show {
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/images/MobileImageNav.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100vw 100vh;
    padding-top: $margin-xl;
    gap: $margin-md;
    a {
      @include font-xl(700);
      font-family: $nav-font-family;
      color: $color-primary;
      background-color: $color-white-05;
      text-decoration: none;
      text-align: center;
      border: $border-btn;
      border-radius: $border-radiou-xs;
      box-shadow: 0px 0px 25px 5px $color-white-025;
      width: $width-btn;
      padding: $margin-md $margin-sm;
    }
    :nth-child(4) {
      color: $color-project-gothika;
    }
    :last-child {
      @include font-lg(700);
      font-family: $nav-font-family;
      color: $color-blue;
      background-color: $color-white;
      border-radius: $radius-contact;
      box-shadow: $box-shadow-xs $color-white-025;
      padding: $margin-sm;
      margin-top: $margin-xxl;
    }
  }
}

@include for-tablet-up {
  .hamburger {
    display: none;
  }
}
.no-scroll {
  overflow: hidden;
}
