$color-primary: #00b0e9;
$color-secondary: #ff3efa;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-dark: #000000;
$color-white: #ffffff;
$color-blue: #2c267e;
$color-dark-blue: #00053d;
$color-grey: #a0a0a0;
$color-grey-light: #d9d9d980;

$margin-xxs: 0.25rem; // 4px
$margin-xs: 0.5rem; // 8px
$margin-sm: 1rem; // 16px
$margin-md: 1.5rem; // 24px
$margin-lg: 2rem; // 32px
$margin-xl: 3rem; // 48px
$margin-xxl: 4rem; // 64px
$margin-xxxxl: 8rem; //128px

$border-radiou-xs: 4px;
$border-radiou-sm: 8px;
$border-radiou-md: 12px;
$border-radiou-lg: 16px;
$border-radiou-xl: 24px;
$border-radiou-huge: 32px;

$font-size-xxs: 11px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;

$box-shadow-xs: 0px 4px 4px;

$sizePhoneLG: 393px;
$sizeTabletSm: 426px;
$sizeTablet: 768px;
$sizeDesktop: 1024px;
$sizeDesktopLG: 1440px;
$sizeDesktopXL: 1920px;

$main-font-family: 'Merriweather', serif;
$contact-us-font-family: 'Merriweather Sans', sans-serif;
$nav-font-family: 'Source Sans Pro', sans-serif;
$hamburger-font-family: 'Barlow', sans-serif;

@mixin font-xl($weight: 400) {
  font-family: $main-font-family;
  font-weight: $weight;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
}

@mixin font-lg($weight: 400) {
  font-family: $main-font-family;
  font-weight: $weight;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
}

@mixin font-md($weight: 400, $size: 16px, $family: $main-font-family) {
  font-family: $family;
  font-weight: $weight;
  font-style: normal;
  font-size: $size;
  line-height: 22px;
}

@mixin font-sm($weight: 400) {
  font-family: $main-font-family;
  font-weight: $weight;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
}

@mixin font-xs($weight: 400) {
  font-family: $main-font-family;
  font-weight: $weight;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
}

@mixin font-xxs($weight: 400) {
  font-family: $main-font-family;
  font-weight: $weight;
  font-style: normal;
  font-size: 11px;
  line-height: 16px;
}

@mixin font-links($weight: 400) {
  font-family: $main-font-family;
  font-weight: $weight;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: $color-white;
}

@mixin for-phone-only {
  @media (max-width: 39rem) {
    // 624px
    @content;
  }
}

@mixin for-tablet-only {
  @media (max-width: $sizeTablet) {
    // hasta 768px
    @content;
  }
}

@mixin for-desktop-only {
  @media (max-width: $sizeDesktop) {
    // hasta 1024px
    @content;
  }
}

@mixin for-tablet-sm-up {
  @media (min-width: $sizeTabletSm) {
    // 420px
    @content;
  }
}

@mixin for-tablet-up {
  @media (min-width: $sizeTablet) {
    // 768px
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: $sizeDesktop) {
    // 1024px
    @content;
  }
}

@mixin for-desktopLG-up {
  @media (min-width: $sizeDesktopLG) {
    // 1440px
    @content;
  }
}

@mixin for-desktopXL-up {
  @media (min-width: $sizeDesktopXL) {
    // 1920px
    @content;
  }
}
