@import '../../styles/theme.scss';

$size-img-desktop: 20rem;
$size-img-mobile: 18rem;

.container-section {
  display: flex;
  flex-direction: column;
  padding-bottom: $margin-lg;
  .our-work {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: $margin-md;
    img {
      width: 100%;
      height: auto;
      @include for-tablet-only {
        width: 70%;
      }
    }
  }
  .width-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: $margin-xs;
    width: 100%;
    overflow: hidden;
    position: relative;
    max-width: $sizeDesktopLG;
    .slider-container {
      margin: 0 auto;
      animation: scrolling 20s linear infinite;
      -webkit-animation: scrolling 20s linear infinite;
      .slider {
        display: flex;
        position: relative;
        overflow: hidden;
        .link {
          -webkit-user-drag: none;
          pointer-events: auto;
          .item {
            width: $size-img-desktop;
            height: $size-img-desktop;
            padding: $margin-xs;
            @include for-tablet-only {
              max-width: $size-img-mobile;
              max-height: $size-img-mobile;
            }
            img {
              width: 100%;
              height: 100%;
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}

@keyframes scrolling {
  0% {
    -webkit-transfrom: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transfrom: translateX(-50%);
    transform: translateX(-50%);
  }
}
