@import '../styles/theme.scss';

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: url('../assets/images/HomeBackgroundKraken.svg'),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    radial-gradient(205.9% 48.06% at 50% 50%, #00053d 0%, #000000 46.35%, #000539 100%);
  background-repeat: repeat-y;
  background-size: 100vw 290vw;
  background-position: center center;
  aspect-ratio: 0.32;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
  height: 6000px;
}
