@import '../styles/theme.scss';

.pageStyles {
  color: $color-dark;
  padding: $margin-xxl + $margin-lg;
  font-family: -apple-system, Roboto, sans-serif, serif;
}

.headingStyles {
  margin-top: 0;
  margin-bottom: $margin-xxl;
  max-width: $sizePhoneLG;
}

.headingAccentStyles {
  color: $color-secondary;
}

.paragraphStyles {
  margin-bottom: 48;
}

.codeStyles {
  @include font-lg();
  color: $color-warning;
  padding: $margin-xxs;
  background-color: $color-white;
  border-radius: $border-radiou-xs;
}

.listStyles {
  margin-bottom: $margin-xxl + $margin-lg;
  padding-left: 0;
}

.doclistStyles {
  padding-left: 0;
}

.listItemStyles {
  @include font-lg();
  max-width: $sizeTabletSm;
  margin-bottom: $margin-lg;
}

.linkStyle {
  @include font-md();
  color: $color-warning;
  font-weight: bold;
  vertical-align: 5%;
}

.docLinkStyle {
  @include font-md();
  color: $color-warning;
  font-weight: bold;

  vertical-align: 5%;
  list-style-type: none;
  display: inline-block;
  margin-bottom: $margin-md;
  margin-right: $margin-sm;
}

.descriptionStyle {
  @include font-sm();
  color: $color-dark;
  margin-top: $margin-xs;
  margin-bottom: 0;
}

.badgeStyle {
  @include font-xs();
  color: $color-white;
  font-weight: bold;
  background-color: $color-success;
  border: 1px solid $color-secondary;
  border-radius: $border-radiou-xs;
  padding: $margin-xxs $margin-xs;
  display: inline-block;
  position: relative as relative;
  margin-left: $margin-xs;
}
