@import '../../styles/theme.scss';

.about-us {
  flex: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    radial-gradient(205.9% 48.06% at 50% 50%, #00053d 0%, #000000 46.35%, #000539 100%);
  img {
    max-width: 100%;
  }
  .membersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .member {
      display: flex;
      align-items: center;
      max-width: 24rem;
      background-color: rgba(255, 0, 0, 0.403);
      margin: $margin-sm;
      padding: $margin-sm;
      border: 3px solid $color-primary;
      border-radius: $border-radiou-md;
      .member-img {
        margin-right: 0.5rem;
      }
      .member-info {
        flex: 1;
        h3 {
          color: $color-white;
        }
        h4 {
          color: $color-primary;
        }
        h5 {
          color: $color-white;
        }
      }
    }
  }
}
