@import '../../styles/theme.scss';

$width-member-container: 32rem;
$height-member-container: 15rem;
$height-member-container-mobile: 20rem;
$width-member-img-mobile: 9rem;
$width-icon-mobile: 5.5rem;
$shadow-member: 0px 0px 50px 5px;
$position-icon-mobile: 36px;
$position-icon-desktop: 42px;

.about-us {
  flex: 1;
  background: url('../../assets/images/HomeBackgroundKraken.svg'),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    radial-gradient(205.9% 48.06% at 50% 50%, #00053d 0%, #000000 46.35%, #000539 100%);
  background-repeat: repeat-y;
  background-size: 100vw 290vw;
  background-position: center center;
  img {
    display: flex;
    max-width: 100%;
    width: 100%;
  }
  .banner-desktop {
    @include for-tablet-md {
      display: none;
    }
  }
  .banner-mobile {
    display: none;
    @include for-tablet-md {
      display: flex;
    }
  }
  .membersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: $sizeDesktopLG;
    margin: $margin-xxxxl auto;
    .member {
      display: flex;
      align-items: center;
      max-width: $width-member-container;
      min-height: $height-member-container;
      margin: $margin-sm;
      padding: $margin-sm;
      position: relative;
      .member-img {
        max-width: 100%;
        border-radius: 50%;
        background: $color-grey-02;
        box-shadow: $shadow-member $color-white-025;
        img {
          width: auto;
        }
        .linkedin-icon {
          position: absolute;
          bottom: $margin-md;
          left: $position-icon-desktop;
          right: auto;
          img {
            margin: 0;
          }
        }
      }
      .member-info {
        flex: 1;
        margin-left: $margin-sm;
        h3 {
          @include font-lg(700);
          font-family: $nav-font-family;
          color: $color-white;
          margin: $margin-xs 0px;
        }
        h4 {
          @include font-md(700);
          font-family: $nav-font-family;
          text-transform: uppercase;
          color: $color-primary;
          margin: 0;
        }
        h5 {
          @include font-md(600);
          font-family: $nav-font-family;
          color: $color-grey;
          margin: $margin-xs 0px;
        }
        h6 {
          @include font-md(600);
          font-family: $nav-font-family;
          font-style: italic;
          color: $color-white;
          margin: 0;
        }
      }
    }
  }
}

@include for-tablet-md() {
  .about-us {
    .membersContainer {
      margin: $margin-xxl auto;
      .member {
        height: $height-member-container-mobile;
        margin: $margin-sm $margin-xs;
        padding: $margin-xs;
        .member-img {
          img {
            width: $width-member-img-mobile;
          }
          .linkedin-icon {
            bottom: $margin-xxl;
            left: $position-icon-mobile;
            img {
              width: $width-icon-mobile;
            }
          }
        }
        .member-info {
          margin-left: $margin-sm;
          h3 {
            margin: 0px 0px $margin-xs 0px;
          }
        }
      }
    }
  }
}
