@import '../../styles/theme.scss';

.portfolio {
  background: url('../../assets/images/OurServicesBackground.svg'),
    linear-gradient(180deg, rgba(20, 0, 40, 0) 37.74%, #031023 100%);
  background-blend-mode: soft-light, normal;
  background-repeat: repeat-y;
  background-size: 100vw 142vw;
  background-position: center center;
  background-color: $color-bg-dark-blue;
  min-height: 100vh;
  h2 {
    color: #ff3efa;
    font-family: $main-font-family;
    font-weight: 700;
    font-size: 80px;
    line-height: 101px;
    text-align: center;
  }
}
