@import '../../styles/theme.scss';

$padding-desktopLG-up: $margin-sm 5rem $margin-sm 5rem;

.container-internal-project-home {
  display: flex;
  flex-direction: column;
  margin: $margin-xxl auto;
  max-width: $sizeDesktopLG;
  width: 100%;
  .title {
    display: flex;
    justify-content: center;
    padding: $margin-sm;
    margin-top: $margin-lg;
    @include for-tablet-only() {
      img {
        width: 94%;
      }
    }
  }
  .colums {
    display: flex;
    flex-direction: column;
    align-items: center;
    .rows {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: $sizeDesktopLG;
      padding: $margin-xs;
      @include for-tablet-only() {
        flex-wrap: wrap;
        padding: $margin-sm;
      }
      @include for-tablet-md() {
        padding: $margin-xs 0px $margin-xs 0px;
      }
      img {
        max-width: 100%;
        width: 100%;
        @include for-desktop-only() {
          width: 50%;
        }
        @include for-tablet-only() {
          width: 100%;
        }
        @include for-tablet-md() {
          width: 390px;
          height: 300px;
          object-fit: cover;
          margin: 0 auto;
        }
      }
      h4 {
        @include font-sansPro-content(600);
        color: $color-white;
        margin: 0;
        padding: $margin-sm $margin-sm 0px $margin-lg;
        @include for-desktopLG-up() {
          padding: $padding-desktopLG-up;
        }
        @include for-desktop-only() {
          padding-left: $margin-sm;
        }
        @include for-tablet-only() {
          font-size: $font-size-md;
          text-align: center;
        }
      }
    }
  }
}
